@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Khula:wght@300;400;600;700;800&display=swap');

.navbar {
    /* position: sticky; */
    top: 2%;
    border-radius: 30px;
    background-color: #f0f0f0;
    margin: 0px 1%;
    box-shadow: 3px 4px 8px rgb(0, 0, 0, 25%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo Section */
.logo {
    margin-left: 1.5em;
}

.logo a {
    font-family: 'Jockey One', sans-serif;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 4em;
}

.logoText {
    color: #625F5F;
}
.logoHighlight{
    color: #3498DB;
}
.logoIcon {
    font-size: 1.2rem;
}

/* Nav Link */
.navLinks {
    display: flex;
    gap: 20px;
}

.navLinks a {
    text-decoration: none;
    color: #34495E;
    transition: color 0.2s ease-in-out;
}

.navLinks a:hover {
    color: #3498DB;
    text-decoration: underline;
}

.navLinks a, .userGroup a{
    font-size: 1.5em;
    font-family: 'Khula', sans-serif;
}

/* User Auth Buttons */
.userGroup {
    display: flex;
    gap: 10px;
    margin-right: 1.5em;
}

.login, .register {
    text-decoration: none;
    padding: 6px 14px;
    /* font-size: 0.9rem; */
    border-radius: 20px;
    transition: opacity 0.2s ease-in-out;
}

.login {
    border: 1px solid #3498DB;
    color: #3498DB;
}

.register {
    background-color: #3498DB;
    color: white;
}

.login:hover, .register:hover {
    opacity: 0.4;
}

.active {
    text-decoration: underline !important;
    color: #3498DB !important;
    font-weight: bold;
}