.time-slot {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s, color 0.2s;
  }
  
  /* TODO: Make colors adhere to site better (use site colors) */
  .time-slot.available {
    background-color: var(--primary);
    color: var(--primary-foreground);
  }
  
  .time-slot.available:hover:not(:disabled) {
    background-color: var(--primary-hover);
  }

  .time-slot:hover {
    background-color: lightgray;
  }
  
  .selected {
    background-color: lightgreen;
  }