/* Maybe move off to modal base */

@keyframes slideUp {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(0);
    }
}

.container {
    display: flex;
    flex-direction: row;
    /* min-width: 650px; */
    border-radius: 25px;
    overflow: hidden;
    animation: slideUp 0.5s ease-out forwards;
}

.left, .right { 
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
}

/* Left side of modal */
.left {
    width: 35%;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

/* Right side of modal */
.closeButton {
    position: absolute;
    top: 0%;
    right: 10%;
    font-size: 3rem;
}

.right {
    width: 65%;
    position: relative;
    align-items: center;
}

.rightContent {
    width: 75%;
}

.register, .formField, .right form, .rightContent {
    display: flex;
    flex-direction: column;
}

.right form {
    gap: 20px;
    margin-bottom: 25px;
}

.right form button {
    padding: 1rem 3rem;
    
}

.register {
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 90vw;
        max-height: 80vh;
        overflow-y: auto;
        text-overflow: none;
        scrollbar-width: none;
    }

    .container::-webkit-scrollbar {
        display: none;
    }

    .left, .right {
        width: 100%;
        flex-shrink: 0;
    }

    .left {
        padding: 2rem 1 rem;
    }

    .right {
        flex: 1;
    }
}