.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vh;
}

/* Logo and Hamburger */
.hamBurger {
    cursor: pointer;
    display: none;
}

.logoGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.logoSvg {
    width: clamp(1.5rem, 3vw, 5.5rem);
    height: auto;
}

.logoText {
    font-weight: 900;
    font-size: clamp(1.5rem, 3vw, 5.5rem);
}

.collapsible {
    display: flex;
    align-items: center;
}


/* Navbar links */
.navLinkGroup {
    display: flex;
    flex-direction: row;
    gap: clamp(0.5rem, 2vw, 1.5rem);
    min-width: 0;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 1 auto;
}

/* User login/register */
.navUserGroup {
    display: flex;
    gap: 5px;  
}

.navUserGroup button {
    padding: 10px 30px;
    cursor: pointer;
}

@media (max-width: 768px) {
    /* General responsiveness of the navbar */
    .navbar, .navLinkGroup, .navUserGroup {
        flex-direction: column;
    }

    .navbar {
        border: 1px solid var(--footer-text-color);
        text-align: center;
        padding: 1rem 1.5rem;
        margin-top: 1rem;
        border-radius: 1rem;
        transition: gap 0.4s ease-in;     
    }

    .collapsible {
        width: 100%;
        justify-content: space-between;
    }

    /* hamburger and close navbar buttons */
    .hamBurger {
        display: block;
        font-size: 1.5rem;
    }

    .closeNav {
        font-size: 2rem;
        line-height: 1;
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    /* Set up hidden and visible states using max-height */
    .navDropDown {
        overflow: hidden;
        transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out, margin-top 0.4s ease-in-out;
        max-height: 0;
        opacity: 0;
    }

    .navDropDown.open {
        max-height: 100vh;
        opacity: 1;
        margin-top: 2rem;
    }

    .navDropDown.closed {
        max-height: 0;
        opacity: 0;
        margin-top: 0;
    }
}